/* Utility Classes */
.display-1 {
	font-size: 5rem;
}

.display-2 {
	font-size: 2rem;
}

/* Showcase */
#showcase {
	height: 100%;
	padding: 50px 0;
}

/* Gallery */
#gallery {
	padding: 50px 0;
}

#gallery .gallery-grid {
	grid-template-columns: 1fr;
}

#gallery .box-1,
#gallery .box-2,
#gallery .box-3,
#gallery .box-4,
#gallery .box-5 {
	grid-column: 1;
}

#gallery .box-1 {
	grid-row: 1;
}
#gallery .box-2 {
	grid-row: 2;
}
#gallery .box-3 {
	grid-row: 3;
}
#gallery .box-4 {
	grid-row: 4;
}
#gallery .box-5 {
	grid-row: 5;
}
